
name: TranquilTaskDevBuild&Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@latest
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: cd WebApp
      - run: npm install
      - run: npm run build 
      - run: mv dist docs
