
name: TranquilTaskDevBuild&Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.0
        with:
          # Used to specify the path to a dependency file: package-lock.json, yarn.lock, etc. Supports wildcards or a list of file names for caching multiple dependencies.
          cache-dependency-path: 'WebApp/package-lock.json'
      - run: npm --prefix ./WebApp ci
      - run: npm --prefix ./WebApp run build 
      - name: Deploy Page
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: WebApp/dist/web-app/browser
